

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

header {
	background:url(../img/bg-white.jpg) no-repeat;
	background-position: 50% 80%;
	background-size: 100%;
	height: 600px;
}

.trait1 {
	background-color: #000;
	height: 1px;
	margin-bottom: 10px;
	margin-right: 17px; 
	width: 70px;
	display: inline-block;
}

.trait2 {
	background-color: #000;
	height: 1px;
	margin-bottom: 10px;
	margin-left: 17px; 
	width: 70px;
	display: inline-block;
}

footer a:focus{
	outline: none;
	color: #a0565d ;
	text-decoration:none;
} 

main {
	background-image: linear-gradient(to bottom,#FFF 0, #F8F8F8 100%);
	padding-bottom: 60px;
}

.info {
	height: 500px;
}

.navbar {
	margin-bottom: 0px;
	height: 70px;
	border-radius: 0;
}

.navbar-default .navbar-left>li>a {
	padding-left: 60px;
	padding-top: 24px;
	color:#252d25;
	font-size: 18px;
	letter-spacing: 2px;
}

.navbar-default .navbar-right>li>a {
	padding-left: 60px;
	padding-top: 24px;
	color:#252d25;
	font-size: 18px;
	letter-spacing: 2px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #cf3e3e ;
}

.logowhite img{
	position: absolute;
	top: -82%;
	left: 43%;
	height: 250px;
}

@media (max-width: 1000px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .logowhite img {
    	top: -60%;
    	left: 15%;
    	height: 150px;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
    	background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
  		display:block !important;
	}
}


#choice {
	font-size: 26px;
	padding-top: 25px;
	letter-spacing: 2px;
}

.textOffer {
	opacity: 0.90;
	position: absolute;
	bottom: 0%;
	left: 0%;
	padding-top: 17px;
	background-color: #FFF;
	color: #333;
	width: 100%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; 
	height: 90px;
	font-size: 18px;
	letter-spacing: 2px;
	transform:scaleY(1);
	-webkit-transform:scale(1) rotate(0deg);
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

.curb-effect:hover .textOffer {
	opacity: 0;
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transform: scale(3) rotate(10deg);
	-webkit-transform:scale(3) rotate(10deg);
}

@media (max-width: 500px) {
	.textOffer {
		font-size: 20px;
	}
}

footer p{
	background-color: #FFF;
	height: 130px;
	padding-top: 55px;
	font-size: 18px;
	color: #676464;
}

footer .logo {
	padding-top: 40px;
	padding-left:70px;
}

footer a {
	color: #a0565d;
}
footer a:hover {
	text-decoration: none;
	color: #b33131;
}

.Social {
	width: 45px;
}

/*Box*/

img {
	height: auto;
	border:0;
}

article {
	display: block;
}

.curb-effect img {
	width: 100%;
	height: 280px;
	transform:scaleY(1);
	-webkit-transform:scale(1) rotate(0deg);
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

.curb-effect p {
	color: #333;
	opacity: 0;
	transform: scale(0);
	-webkit-transform:scale(0);
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
}

.main-article p {
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: lighter;
	position: relative;
	padding: 10px 20px 20px;
	padding-top: 50px;
	text-align: center;
}

.curb-effect:hover img {
	transform: scale(3) rotate(10deg);
	-webkit-transform:scale(3) rotate(10deg);
	opacity: 0;
}

.curb-effect:hover p {
	transform: scale(1);
	-webkit-transform:scale(1);
	opacity: 1;
}

.curb-effect a.readmore {
	opacity: 0;
	transform: scale(0);
	-webkit-transform:scale(0);
	transition: all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}

.curb-effect:hover a.readmore {
	transform: scale(1);
	-webkit-transform:scale(1);
	opacity: 1;
}

.main-article a.readmore {
	letter-spacing: 2px;
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: linear-gradient(to bottom,#564343 0,#423737 100%);
	border-radius: 1px;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000;
}


.main-article a {
	text-shadow: 0 0 1px #4a4a4a;
}

.main-article {
	display: inline-block;
	max-width: 100%;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #FFF;
	border-radius: 4px;
    box-shadow: 2px 2px 6px #999;
	height: 290px;
	margin: 10px auto;
	border:1px solid #DDD;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background:#FFF;
}

*, *:before, *:after {
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}

.main-content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding-bottom: 250px;
	padding-top: 20px;
	width: 100%;
}

.nav-tabs {
	border-bottom:0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: linear-gradient(to bottom,#564343 0,#423737 100%);
}

a {
	color: #cf3e3e;
}

.submit {
	background-image: linear-gradient(to bottom,#564343 0,#423737 100%);
	color: #FFF;
}
