

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Medula One', cursive;
	font-size: 18px;
}

main a:focus {
	outline:none;
	color: #FFF;
	text-decoration: none;
}

footer a:focus{
	outline: none;
	color: #a0565d ;
	text-decoration:none;
}

main {
	background-color: #efefef;
	padding-bottom: 60px;
}


.navbar-default {
	background-color: transparent;
	border-color: transparent; 
	background-image: none;
	box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #cf3e3e;
}

.navbar-default .navbar-nav>li>a{
	color: #FFF;
	font-size: 2.2rem;
	margin-right: 70px;
	margin-top: 1em;
    letter-spacing: 3px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #e2afaf;
}

.navbar-default .navbar-nav>li>a:focus {
	color: white;
}

.navbar-default .navbar-toggle {
	background-color: #DDD;
}

.navbar-brand img {
	height: 100px;
	width: 180px;
	margin-left: 130px;
	transform: scale(1);
    transition: transform 0.5s ease 0.1s;
}

.navbar-brand img:hover {
	transform: scale(1.1);
    transition: transform 1s ease 0.1s;
}

header {
	height: 500px;
}

#headinfo {
	text-decoration: none;
	font-size: 3rem;
	color: #FFF;
	border: solid 1px;
	padding: 15px;
	padding-right: 54px;
	padding-left:54px;
	border-radius: 3px;
	transition: color 0.5s;
	letter-spacing: 5px;
}

#headinfo:hover {
	color:#e2afaf;
}

#choice {
	font-size: 40px;
	padding-top: 25px;
	letter-spacing: 2px;
}

.offre {
	border-radius: 3px;
	position: relative;
	height: 290px;
	transform: scale(1);
    transition: transform 0.5s ease 0.1s;
    box-shadow: 2px 2px 6px #999;
}

.offre figure {
	width: 100%;
	height:100%;
}

.offre img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.textOffer {
	opacity: 0.90;
	position: absolute;
	bottom: 0%;
	left: 0%;
	padding-top: 8px;
	background-color: #FFF  ;
	color: #333;
	width: 100%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; 
	height: 90px;
	font-size: 25px;
	letter-spacing: 2px;
	transform:scaleY(1);
	-webkit-transform:scale(1) rotate(0deg);
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

.curb-effect:hover .textOffer {
	opacity: 0;
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transform: scale(3) rotate(10deg);
	-webkit-transform:scale(3) rotate(10deg);
}


.more {
	background: #e2afaf;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 25px;
	color :#FFF;
	text-decoration: none;
}	


.more:hover {
	background: linear-gradient(to bottom,#cf3e3e 0,#ae2f2f 100%);
	color: #FFF;
	text-decoration:none;
}

footer {
	background-color: #FFF;
	height: 130px;
	padding-top: 40px;
	font-size: 25px;
	color: #676464;
}

footer a {
	color: #a0565d;
}
footer a:hover {
	text-decoration: none;
	color: #b33131;
}

.Social {
	width: 45px;
}

/*	Carousel effect	 */

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(../img/back.jpg) center center no-repeat fixed;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(../img/back2.jpg) no-repeat center center fixed;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(https://unsplash.imgix.net/photo-1414073875831-b47709631146?q=75&fm=jpg&s=731b6d5150eea8bafa63ae8194e72ebd) no-repeat center center fixed;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}


/*Box*/

img {
	height: auto;
	border:0;
}

article {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.curb-effect img {
	width: 100%;
	height: 280px;
	transform:scaleY(1);
	-webkit-transform:scale(1) rotate(0deg);
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

.curb-effect p {
	color: #333;
	opacity: 0;
	transform: scale(0);
	-webkit-transform:scale(0);
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
}

.main-article p {
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: lighter;
	position: relative;
	padding: 10px 20px 20px;
	padding-top: 50px;
	text-align: center;
}

.curb-effect:hover img {
	transform: scale(3) rotate(10deg);
	-webkit-transform:scale(3) rotate(10deg);
	opacity: 0;
}

.curb-effect:hover p {
	transform: scale(1);
	-webkit-transform:scale(1);
	opacity: 1;
}

.curb-effect a.readmore {
	opacity: 0;
	transform: scale(0);
	-webkit-transform:scale(0);
	transition: all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}

.curb-effect:hover a.readmore {
	transform: scale(1);
	-webkit-transform:scale(1);
	opacity: 1;
}

.main-article a.readmore {
	letter-spacing: 2px;
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: linear-gradient(to bottom,#cf3e3e 0,#ae2f2f 100%);
	border-radius: 1px;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000;
}


.main-article a {
	text-shadow: 0 0 1px #4a4a4a;
}

.main-article {
	display: inline-block;
	max-width: 100%;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #FFF;
	border-radius: 4px;
    box-shadow: 2px 2px 6px #999;
	height: 290px;
	margin: 10px auto;
	border:1px solid #DDD;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background:#FFF;
}

*, *:before, *:after {
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}

.main-content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding-bottom: 250px;
	padding-top: 20px;
	width: 100%;
}

