

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Medula One', cursive;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent; 
	background-image: none;
	box-shadow: none;
}

.navbar-default .navbar-nav>li>a{
	color: #FFF;
	font-size: 32px;
	margin-right: 2.5em;
	margin-top: 1em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #cf3e3e;
	transform: scale(1.2);
    transition: transform 1s ease 0.1s
}

.navbar-brand img {
	height: 100px;
	width: 180px;
	margin-left: 8em;
	zoom:1;
}

.navbar-brand img:hover {
	transform: scale(1.2);
    transition: transform 1s ease 0.1s
}

header {
	background-image: url(../img/background.png);
	height: 600px;
	background-position: 80% 95%;
	background-repeat: no-repeat;
}

#headinfo {
	text-decoration: none;
	font-size: 60px;
	color: #FFF;
	border: solid 1px;
	padding: 10px;
	padding-right: 20px;
	padding-left:20px;
	border-radius: 3px;
}

#headinfo:hover {
	color:#cf3e3e;
}






